*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.site-headers{
  width:100%;
  height:100vh;
  /*background:linear-gradient(57deg,#00c6a7,#1e4d92);*/
  /*background-image: url("../images/mountain.jpg");*/
  background-size: cover;
  animation: animate1 16s ease-in-out infinite;
  color: #fff;
  font-family: 'Lobster', helvetica, arial;

}
.site-headers img{
  border-radius: 50%;
}
nav{
  width:100%;height: 100px;display:flex;color:white;
}

.logo{width:50%;height:100px;}
.logo ul {
 /*line-height: 100px; padding-left:50px;*/
 width:100%;height:100px;display:flex;flex-direction: row;justify-content:space-around ; align-items: center;
}

.logo ul li{
  list-style: none;font-size: 30px;font-weight: bold;font-family: 'Lobster', helvetica, arial;
}
.menu{
  width: 50%;height:100px;;
}
.menu ul{
width:100%;height:100px;display:flex;flex-direction: row;justify-content: space-around;align-items: center;
}
.menu ul li{
  list-style: none;font-size: 30px;font-weight: bold;font-family: 'Lobster', helvetica, arial;
}
.menu ul li:hover{
  background: #a3ada5;
}
.menu ul li a{
  color: #fff;
  text-decoration: none;
}

.leftside {
  display:flex;
  animation: drop 2.5s ease;
}
@keyframes animate1{
  0%,100%{
    background-image: url("../images/mountain.jpg");
  }
  40%{
    background-image: url("../images/mount2.jpg");
  }
  80%{
    background-image: url("../images/mount3.jpg")
  }
}
@media screen and (max-width: 1024px){
  .site-headers{
    flex-direction: column;
  }
}
.site-about{
  width:100%;
  height:100vh;
  /*background:linear-gradient(57deg,#00c6a7,#1e4d92);*/
  /*background-image: url("../images/mountain.jpg");*/
  background-size: cover;
  animation: animate2 16s ease-in-out infinite;
}
.site-about p{
  border-style: solid;
  border-width: 5px;
}
.site-hobbies p{
  border-style: solid;
  border-width: 5px;
}
.site-skills p{
  border-style: solid;
  border-width: 5px;
}
.site-contact p{
  border-style: solid;
  border-width: 5px;
}

@keyframes animate2{
  0%,100%{
    background-image: url("../images/skydive.jpg");
  }
  40%{
    background-image: url("../images/skydive2.jpg");
  }
  80%{
    background-image: url("../images/skydive3.jpg")
  }
}
.about h1{
  text-align: center;
  color:white;
}
.site-hobbies{
  width:100%;
  height:100vh;
  /*background:linear-gradient(57deg,#00c6a7,#1e4d92);*/
  /*background-image: url("../images/mountain.jpg");*/
  background-size: cover;
  animation: animate3 16s ease-in-out infinite;
}
@keyframes animate3{
  0%,100%{
    background-image: url("../images/moon.jpg");
  }
  40%{
    background-image: url("../images/nature2.jpg");
  }
  80%{
    background-image: url("../images/nature3.jpg")
  }
}
.hobbies h1{
  text-align: center;
  color:white;
}
.site-skills{
  width:100%;
  height:100vh;
  /*background:linear-gradient(57deg,#00c6a7,#1e4d92);*/
  /*background-image: url("../images/mountain.jpg");*/
  background-size: cover;
  animation: animate4 16s ease-in-out infinite;
}
@keyframes animate4{
  0%,100%{
    background-image: url("../images/sky.jpg");
  }
  40%{
    background-image: url("../images/space2.jpg");
  }
  80%{
    background-image: url("../images/space3.jpg")
  }
}
.skills h1{
  text-align: center;
  color:white;
}
.site-contact{
  width:100%;
  height:100vh;
  /*background:linear-gradient(57deg,#00c6a7,#1e4d92);*/
  /*background-image: url("../images/mountain.jpg");*/
  background-size: cover;
  animation: animate5 16s ease-in-out infinite;
}
@keyframes animate5{
  0%,100%{
    background-image: url("../images/road.jpg");
  }
  40%{
    background-image: url("../images/r2.jpg");
  }
  80%{
    background-image: url("../images/r3.jpg")
  }
}
.contact h1{
  text-align: center;
  color:white;
}
.site-about .border1{
  height: 80%;
  width: 40%;
  font-size: 30px;
  color: rgb(255, 253, 250);
  font-family: 'Lobster', helvetica, arial;
  /*color: rgb(4, 65, 65)*/
}
.site-hobbies .border2{
  height: 80%;
  width: 40%;
  font-size: 30px;
  color: rgb(255, 253, 250);
  font-family: 'Lobster', helvetica, arial;
}
.site-skills .border3{
  height: 80%;
  width: 40%;
  font-size: 30px;
  color: rgb(255, 253, 250);
  font-family: 'Lobster', helvetica, arial;
}
.site-contact .border4{
  height: 80%;
  width: 40%;
  font-size: 30px;
  color: rgb(255, 253, 250);
  font-family: 'Lobster', helvetica, arial;
}
.site-about h1 {
  margin: 30px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: rgb(255, 255, 255);
	opacity: 1;
  font: 700 80px 'Bitter';
  font-family: 'Lobster', helvetica, arial;
}
.site-hobbies h1{
  margin: 30px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: rgb(246, 247, 239));
	opacity: 1;
  font: 700 80px 'Bitter';
  font-family: 'Lobster', helvetica, arial;
}
.site-skills h1
{
  margin: 30px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: rgb(255, 255, 255);
	opacity: 1;
  font: 700 80px 'Bitter';
  font-family: 'Lobster', helvetica, arial;
}
.site-contact h1{
  margin: 30px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: rgb(243, 243, 243);
	opacity: 1;
  font: 700 80px 'Bitter';
  font-family: 'Lobster', helvetica, arial;
}

